<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Flipping Cards Homework</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="flashcards-app">
  <div>
    
    <h3><b>Add New Card:</b></h3>
    <input v-model="newQuestion" type="text" placeholder="Enter Question..." />
    
    <input v-model="newAnswer" type="text" placeholder="Enter Answer..." />
    
    <h3><b>Category:</b></h3>
    <input v-model="newCategory" type="radio" name="radio" value="math"/>Math<br>
    <input v-model="newCategory" type="radio" name="radio" value="science"/>Science<br>
    <input v-model="newCategory" type="radio" name="radio" value="history"/>History<br><br>
    
    <button v-on:click="newCard">Submit</button>
  </div>
  
  <div v-for="(card,index) in cards">
    <div class="card" v-on:click="flip(card)">
      <div class="top" v-bind:class="card.category" @mouseover="card.hover=true" @mouseleave="card.hover=false">
      </div>
      <div v-if="!card.flipped" class="side1">
        <h1>{{card.question}}</h1>
      </div>
      <div v-if="card.flipped" class="side2">
        <h1>{{card.answer}}</h1>
      </div>          
    </div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
